<p>Last checked on: <%= @timestamp %></p>
<div class="datagrid">
  <table>
    <thead>
      <tr>
        <th>Site url</th>
        <th>Status</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      <% @result.each_with_index do |value, i| %>
        <tr class="<%= (i % 2 == 0)? "alt" : "" %>">
          <% site, status = value[0], value[1] %>
          <td><%= site %></td>
          <td>
            <% if status == true %>
              <img src="ok.png">
            <% else %>
              <img src="error.png">
            <% end %>
          </td>
          <td><a href="<%= site %>" target="_blank">Link</a></td>
        </tr>
      <% end %> 
    </tbody>
  </table>
</div>
